body{
    background-image: linear-gradient(to right , red, yellow);
}

.wrapper{
    width: 100%;
    float: left;
}
.wrapper h1{
    background-color: #fff;
    font-size: 5vw;
    text-align: center;
    float: left;
    padding: 20px;
    width: 100%;
    text-shadow: 5px 5px 10px blue;
}
.item{
    /*width:300px;*/
    width: calc(33.33% - 42px);
    height: 500px;
    float: left;
    margin: 20px;
    border: 1px solid #000;
    box-shadow: 10px 10px 5px greenyellow;
    transition:  4s;

}

.item .frame{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.item img{
    width: 100%;
}

.item p{
   /* white-space: nowrap;
    text-overflow: ellipsis;
*/
}

.item p:hover{
    font-size: 24px;
    transition: 5s;
}

@media screen and (max-width:900px) {
    .item{
        /*width:300px;*/
        width: calc(50% - 42px);
    }
    
}

@media screen and (max-width:750px) {
    .item{
        /*width:300px;*/
        width: calc(100% - 42px);
    }
    
}